body {
    background: palevioletred;
}
.header-content {
    text-align: center;
}
.cats {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.random_cats {
    width: 50%;
    border-radius: 15px;
    border: 10px double gray;
}
